@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**************************/
/* GENRAL STYLE */
/**************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */

    /* font-size: 62.5%; */
    /* overflow-x: hidden; */
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
  
    /* Only works if there is nothing absolutely positioned in relation to body */
    overflow-x: hidden;
  }

  /**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
    /* max-width: 100rem; */
    /* padding: 0 3.2rem; */
    width: min(90%, 1120px);

    margin-inline: auto;
}

 /**************************/
/* Desktop style */
/**************************/
.hamburger {
    display: none;
}

.mobile-menu {
    display: none;
}

header {
    /* background-color: #fafafa; */
    background-color: rgb(33, 37, 41);  
    height: 5rem;
    width: 100%;
    /* position: absolute;
    top: 0px;
    left: 0px;
    right: 0px; */
    z-index: 100;
   

}

 /**************************/
/* Desktop navigations */
/**************************/
.desktop-menu {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.75rem 1.25rem;
}
.desktop-menu .logo {
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    height: 2.5rem;
    color: #fff;
}
.desktop-menu span {
    display: inline-block;
    color: #ed563b;
    
}
.desktop-menu_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.desktop-menu_links li {
    list-style: none;
    padding-left: 1.25rem ;
    padding-right: 1.25rem;
}
.desktop-menu_links li a {
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 0.8125rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    height: 2.5rem;
    color: #fff;
   
}
.desktop-menu_links .buttun-main_nav {
    display: inline-block;
    font-size: 0.8125rem;
    padding: 11px 17px;
    background-color: #ed563b;
    height: auto;
    font-weight: 400;
    line-height: 20px;
}

 /**************************/
/* mobile navigations */
/**************************/
.mobile-naves ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.mobile-naves ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.mobile-menu_links .btn-mobile {
    display: inline-block;
    font-size: 0.8125rem;
    padding: 11px 17px;
    background-color: #ed563b;
    height: auto;
    font-weight: 400;
    line-height: 20px;
}

.mobile-menu_links li  {
    width: 100%;
}

.mobile-menu_links li {
    list-style: none;
    padding-left: 1.25rem ;
    padding-right: 1.25rem;
}
.mobile-menu_links li a {
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 1.125rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    height: 2.5rem;
    color: #fff;
    /* background-color: #007bff; */
   
}

 /**************************/
/* Hero and vedio section */
/**************************/

.hero {
     /* height: 70vh;  */
    /* width: 100%; */
    height: calc(100vh - 4.5rem);
    /* background-color: #007bff; */
    position: relative;
}
.bg-vedio__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.bg-vedio {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; 
     opacity: .3;
    overflow: hidden;
    display: flex;
    
}
.hero-content {
    /* position: relative; */
    /* width: 100%; */
}

.vedio-content {
    display: flex;
    flex-direction: column;
     align-items: center;
    text-align: center; 
    /* margin-top: 20rem; */
    margin-bottom: 0;
    gap: 2rem;
    position: absolute;
    /* width: 40%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-content h6 {
    font-size: 1.125rem;
    color: #fff;
    text-transform: uppercase;
}
.vedio-content h2 {
    font-size: 5.25rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
}
.hero-content h2 span {
    color: #ed563b;
}
.buttun-main a {
    display: inline-block;
    background-color: #ed563b;
    color: #fff;
    padding: 12px 20px;
    text-transform: uppercase;
    /* width: 100%; */
    text-decoration: none;
}

 /**************************/
/*Section choose */
/**************************/

.sec-chose {
    margin-top: 5rem;
    /* height: 70vh; */
    /* background-color: #007bff; */
    /* height: calc(100vh - 4.5rem); */
}

.sec-content {
    /* display: flex; */
    text-align: center;
   
}
.sec-content h2 {
    margin-bottom: 2rem;
}
.sec-content img {
    margin-bottom: 2rem;
}

.grid-choose {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
 
}
.feature-items li {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
  
}
.content-right {
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.content-right h2 {
    font-size: 1.1875rem;
    color: #7a7a7a;
    font-weight: 600;
    text-transform: capitalize;
}
.content-right p{
    font-size: 0.875rem;
    color: #232d39;
}
.content-right p a {
    color: #007bff;
    text-decoration: none;
}
.btn-secondary {
    font-size: 0.8125rem ;
    color: #ed563b;
    text-decoration: none;
    text-transform: uppercase;
}

/* DON’T THINK, BEGIN TODAY! */
.feature-sect {
    /* height: 70vh;  */
    /* height: calc(100vh - 4.5rem); */
}
#features {
    background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 120px 0px;
    margin-top: 80px;
    width: 100%;
}

.cta-content h2{
    font-size: 2.25rem;
    color: #fff;
    /* background-color: #ed563b; */
    display: inline-block;
}
.cta-content h2 span {
    color: #ed563b;
}
.cta-content p {
    font-size: 1rem;
    color: #fff;
    margin: 15px 0px 25px 0px;
}

/* our classes */
.our_classes {
    /* height: calc(100vh - 4.5rem); */
     /* height: 70vh; */
   /* max-height: 130vh; */
    /* width: 1886px;
    height: 930px; */
    margin-top: 140px;
    /* margin-bottom: 80px; */
    /* background-color: rgb(255, 240, 252); */
}

.sec_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.heading-sec_content {
    text-align: center;

}
.heading-sec_content h2 {
    font-size: 28px;
    font-weight: 800;
    color: #232d39;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 23px;
}
.heading-sec_content p {
    font-size: 14px;
    color: #7a7a7a;
    margin-top: 23px;
}
.heading-sec_content span {
    color: #ed563b;
}

.sec_content {
    /* height: 100%; */
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    min-height: 0;
    min-width: 0;
    /* height: calc(100vh - 4.5rem); */
  
}


.sect-content_left{
    display: flex;
    flex: 0 0 33.333%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sect-content_left ul{
    display: flex;
    flex: 0 0 33.333%;
}

.sect-content_left ul li a {

    text-decoration: none;
}

.full-training  {
    box-shadow: 0px 0px 15px rgba(0,0,0,.1);
    border-radius: 5px;
    padding:30px 30px;
    font-size: 19px;
    text-align: center;
    color: #232d39;
    margin-bottom: 2rem;
    width: 85%;

}
.full-training li {
    list-style: none;
}
.full-training li img {
    margin-right: .8rem;
}
.right-content img {
    width: 100%;
}

.btn-ourclasses {
    text-align: center;
    padding: 1.25rem 1.875rem ;
    width: 85%;
    border-radius: 5px;
    display: block;
    box-shadow: 0px 0px 15px rgba(0,0,0,.1);
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.5px;
    background-color: #ed563b;
    color: #fff;
    text-decoration: none;
 }
 .sec-content_right {
    flex: 0 0 66.666%;
    text-align: right;
    margin-left: 5rem;
} 

.right-content h4 {
    font-size: 23px;
    color: #232d39;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 700;
 }
 .right-content p {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 28px;
 }

 .buttun-schedule {
    display: inline-block;
    font-size: 15px;
    padding: 12px 20px;
    background-color: #ed563b;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    transform: all .3s;
    margin-top: 2rem ;
}
.buttun-schedule a {
    text-decoration: none;
    color: #fff;


 }

 
  /**************************/
/* Section Schedule */
/**************************/


 #schedule {
    /* margin-bottom: 5rem; */
 }
 .schedule {
    background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7.5rem 0px;
    
 }
 .week_days li .monday {
    color: red;
 }
 .training_time {
    margin-top: 2rem;
    
    text-align: center;
    
 }
 .training_time table {
    width: 100%;
 }
 .heading_schedule h2 {
    color: #fff;
 }
 .heading_schedule p{
    color: #fff;
    line-height: 1.5625rem;
    font-size: 0.875rem;
    
 }
 table, td{
    
    border: 1px solid;
    color: #fff;
    /* border: none; */
    border-collapse: collapse;
    
  }
  td {
    /* border: none; */
  }
  .week_days li {
    color: #fff;
  }
  .week_days li:hover {
    color: #ed563b;
    cursor: pointer;
  }
  .week_days li:first-child{
    color: #ed563b;
  }
 


.schedule {
    /* height: calc(100vh - 4.5rem); */
   /* height: 70vh; */
    /* margin-top: 10rem; */
    /* background-color: #007bff; */
    margin-top: 14rem;
    padding: 0px 0px 140px 0px;
    /* background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg"); */
    background-position: center center;
    background-repeat: no-repeat ;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 120px 0px;
}
 .schedule_back {
    /* padding: 0px 0px 140px 0px;
    background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat ;
    background-size: cover;
    width: 100%;
    padding: 120px 0px; */
    /* margin-top: 80px; */
}
.week_day {
    display: flex;
    margin-top: 4rem;
    gap: 2rem;

}
.week_days li {
    list-style: none;
}

.week_days {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.training_time table tbody tr td {
/* border-radius: 1px solid #000; */
height: 100px;
}


/* expert trainers */
.expert {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.expert_trainers {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
    
}
.trainer {
    box-shadow: 0px 0px 15px rgba(0,0,0,.1);
    border-radius: 8px;
    padding: 2rem;
}
.img_trainer img {
    /* width: 100%; */
}
.expert_content span {
    font-size: 0.8125rem;
    font-weight: 500;
    color: #ed563b;
    display: inline-block;
}
.expert_content h4 {
    font-size: 1.1875rem;
    font-weight: 600;
    color: #232d39;
    letter-spacing: 0.5px;

}
.expert_content p {
    font-size: 0.875rem;
    line-height: 1.5625;
    color: #7a7a7a;
}
.expert_content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.expert_content .social_icons{
    display: flex;
    gap: 1.5rem;
}
.social_icons li {
    list-style: none;
}
.social_icons i{
    color: #212529;
}



/* map and forms */
#sec_map {
    margin-top: 5rem;
    /* height: 70vh; */
}
.map_forms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.map iframe{
    width: 100%;
    height: 100%;
}
.form {
    padding: 5rem;
    background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    background-color: #8f1b1b;
    padding: 40px;
    border-radius: 5px;
    display: inline-block; */

}
.form #contact {
    padding: 2.5rem;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
}
/* .form {
     display: flex;
     justify-content: center;
     align-items: center;
} */
.form_row {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* margin-right: -15px; */
    /* margin-left: -15px; */
    gap: 2rem;
    width: 100%;
   
}
.col_name {
    flex: 0 0 50%;
   max-width: 100%;
}

.subject input , textarea{
    width: 100%;
}
.contact_form textarea {
    height: 9.375rem;
    resize: none;
}

.col_name input {
    /* max-width: 100%; */
}
.contact_form input , textarea {
    color: #7a7a7a;
    font-size: 0.8125rem ;
    border: 1px solid #ddd;
    background-color: #fff;
    /* width: 100%; */
    height: 40px;
    outline: none;
    padding: 0px 10px;
    margin-bottom: 30px;
    appearance: none;
}
.col_name fieldset {
    /* width: 100%; */
    display: inline-block;
    width: 100%;
    
}
fieldset  {
    border: none;
    /* padding: 10px 20px; */
}
.col_name {
    
    /* max-width: 50%;  */
}

footer {
    padding: 2rem;
    display: flex;
    align-items: center;
}
.footer_content {
    display: flex;
    justify-content: center;
}
.footer_content p {
    color: #232d39;
    font-size: 0.8125rem;
}

.footer_content a {
    cursor: pointer;
    color: #ed563b;
    text-decoration: none;
}
/* mobile and tablet */
 /* @media (max-width: 1280px) {
    .hero {
        width: 100%;
    }
    .hero-content p {
        font-size: 1rem;
        color: #fff;
        text-transform: uppercase;
    }
    .vedio-content h2 {
        font-size: 1.5rem;
        color: #fff;
        text-transform: uppercase;
    }
    .desktop-menu h1{
        font-size: 1rem;
    }
    .menu-links li a, .menu-links a{
        font-size: 1rem;
    }
    .sec_content {
        grid-template-columns: 1fr;
       }
       .right-content {
        margin-inline: 2rem;
       }
       .right-content img {
        margin-top: 2rem;
       }
       .mobile-menu {
        display: none;
       }
       .btn-mobile {
        display: none;
       }
}  */





 /**************************/
/* mobile and Tablet navigations */
/**************************/
@media (max-width: 768px) {
    header {
        background-color: rgba(33, 37, 41,.1); 
    }
   
    .desktop-menu_links {
        display: none;
    }
    
    .hamburger {
        display: flex;
    }

    .mobile-menu {
        display: flex;
    }
    
    .hamburger {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #2b2b2b;
        top: 6px;
        width: 50px;
        height: 50px;
        right: 20%;
        font-size: 1.25rem;
        z-index: 99999;
    }
    .mobile-menu  {
         display: flex; 
        flex-direction: column; 
        position: fixed;   
        color: #232d39;
        background-color: #c9c7c9;
        inset: 5rem;
        transform: translateY(-260%);
        transition: transform .3s ease-in-out;
        z-index: 99999;
    
    }
    .desktop-menu .logo {
        font-size: 1.125rem;
    }
    .mobile-menu_links li:not(:last-child){
        border-bottom: 2px solid rgba(57, 35, 35, 0.3);
    
    }

    .mobile-menu[data-visible="false"]{
        transform: translateY(0%);
    }
    .hamburger i[data-visible = "true"]{
        display: block;
    }
    .hamburger i[data-visible = "false"]{
        display: none;
    }
    /* .hero {
        width: 100%;
    }
    .container {
        margin: 0px;
        padding: 0px;
    }
     body {
        align-items: center;
     } */

    .vedio-content h2 {
        font-size: 4rem;
    }
     .grid-choose {
        grid-template-columns: 1fr;
     }
    
     .sec_content {
        grid-template-columns: 1fr;
     }
     .our_classes {
        /* height: 100%; */
     }

     /* expert trainers */
     .expert_trainers {
        grid-template-columns: 1fr;
     }
     .img_trainer img {
        width: 100%;
    }
    .map iframe {
        /* width: 100%; */
        height: 60vh;
    }
    
    .map_forms  {
        grid-template-columns: 1fr;
    }
    .contact_form {
        /* margin-top: 2rem; */
    }
    .training_time table {
        width: 100%;
     }
}